/*allaha iman sayfasının css kodu*/
/*geneli ana sayfayla aynı olduğundan açıklama satırı az kullanacağım*/
body {
    color: #333; 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}
header {
    background-color: #1fffec; /* Canlı mavi arka plan */ 
    padding:10px;
	text-align: center; 
}

header h1 {
    color: #2130ff; /* allahın varlığının delilleri başlığı için özel renk */
    font-size: 36px; 
    margin-bottom: 40px; 
}

nav {
    background-color: #28a745;
    display: flex; 
    justify-content: center; 
    padding: 13px 0; 
    margin: 0; 
}

nav a {
    color: white; 
    font-size: 18px; 
    margin: 0 15px; 
    text-decoration: none; 
    padding: 8px 12px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}


nav a:hover {
    background-color: #218838;
	color: #fff; 
    font-weight: bold; 
	}

main {
    padding: 20px; 
    background-color: #ffffff; 
    margin: auto; 
}
	
img {
    border-radius: 8px;
    border: 4px solid #ccc; 
    margin: 15px; 
}
p {
    line-height: 2;
    text-indent: 1cm;
    color: #333;
    margin: 10px;
}

h1, h2, h3 {
    margin-bottom: 20px;
}
h1 {
    font-size: 36px; 
    color: #0056b3; 
}

h2 {
    font-size: 30px; 
    color: #333; 
}

h3 {
    font-size: 24px; 
    color: #6c757d; 
}