/* Ana sayfa stil dosyası */
/* Body Arka Plan ve Genel Stil */
body {
	color:#333;/*özel olarak belirlemediğim yerler gri olacak*/
	font-family: Arial, sans-serif; /* Modern ve okunabilir yazı tipiyle yazdım */
    margin: 0; /* Kenarlardan taşmayı önlüyor */
    padding: 0; /* Ekstra boşlukları kaldırıyor */
}
header {
    background-color: #ffa230; /* Canlı turuncu arka plan */ 
    padding:10px;/* büyük başlığın altına boşluk ekler */
	text-align: center; /* başlığı ortalar */
}

header h1 {
    color: #005000; /* İSLAM NEDİR? başlığı için özel renk */
    font-size: 36px; /* Büyük başlık yazısının boyutu*/
    margin-bottom: 40px; /* büyük başlığın altına boşluk ekler */
}


/* Navigation Bar */
nav {
     background-color: #28a745; /* Yeşil tonlarıyla arka plan */
    display: flex; /* Esnek bir düzen */
    justify-content: center; /* Linkleri ortalar */
	padding: 13px 0; /* Dikey boşluk ekler */
    margin: 0; /* Ekstra boşlukları kaldırır */
}

nav a {
    color: white; /* Linkler beyaz görünür */
    font-size: 18px; /* Daha büyük ve okunabilir yazı boyutu */
    margin: 0 15px; /* Linkler arasında boşluk */
	text-decoration: none; /* Alt çizgiyi kaldırır böylece linkler daha hoş görünüme sahip olur.*/
	padding: 8px 12px; /* Link çevresine iç boşluk ekleriz böylece daha düzgün görüntü olur */
	border-radius: 5px; /* Köşeleri yuvarlar */
    transition: background-color 0.3s ease; /* Hover animasyonu */
}

nav a:hover {
    background-color: #218838; /* Hover durumunda koyu yeşil */
	color: #fff; /*hover durumunda belirgin beyaz renk */
    font-weight: bold; /* Metni kalın yapar */
	}
/* Main İçerik */
main {
    padding: 20px; /* İçerik çevresine boşluk ekler fazla eklerse şekil bozuluyor ama.*/
    background-color: #ffffff; /* Beyaz arka plan yapar */
    margin: auto; /* Ortalamayı sağlıyor sağa veya sola kaymıyor.*/
}
/* Görseller */
img {
    border-radius: 8px; /* Köşeleri yuvarlar */
    border: 4px solid #ccc; /* Hafif gri çerçeve oluşturur. */
    margin: 15px; /* Görsel çevresinde boşluk oluşturmayı sağlar. */
}
/* Paragraflar */
p {
    line-height: 2; /* satır yüksekliğini artırır */
    text-indent: 1cm; /* paragaf boşluğu bırakmayı sağlar ilk satırda. */
    color: #333; /* yazı rengi koyu gri */
    margin: 10px 0; /* paragraflar arasında boşluk */
}
/* Başlıklar */
h1, h2, h3 {
    margin-bottom: 20px; /* başlıkların altına boşluk ekler */
}

h1 {
    font-size: 36px; /* Büyük başlık */
    color: #0056b3; /* Koyu mavi renk */
}

h2 {
    font-size: 30px; /* Orta boy başlık */
    color: #333; /* Koyu gri renk */
}

h3 {
    font-size: 24px; /* Küçük başlık */
    color: #6c757d; /* Gri ton */
}

ul {
    list-style-type: square; /* Kare liste işaretleri */
    padding-left: 20px; /* Soldan boşluk */
	color:#0056b3; /* mavi yazı rengi kullanır sıralı liste kısımlarında */
	}

li {
    margin-bottom: 10px; /* Her liste öğesi arasında boşluk */
}
